footer.footer#contacts
	.container.footer__container 
		.content.footer__content
			.footer__logo
				a(href=`${sitePath}`).logo
					svg
						use(xlink:href=`${sitePath}img/logo-white.svg#logo`)
			.footer__contacts
				.footer__mail
					span e-mail: 
					a(href="mailto:mk_muranovo@mosreg.ru") mk_muranovo@mosreg.ru
				.footer__address
					p 141250, Московская область, Пушкинский городской округ, деревня Мураново
				.footer__maplink
					a.btn.btn-transparent.btn--white Яндекс карты
				.footer__social.social
					ul.social__list 
						li.social__item
							a(href='https://t.me/muranovo_museum' target="_blank").social__link 
								svg(width="22" height="20")
									use(xlink:href=`${sitePath}img/icons/icon-tg.svg#icon-tg`)
						li.social__item
							a(href='https://vk.com/muranovo_museum' target="_blank").social__link 
								svg(width="24" height="24")
									use(xlink:href=`${sitePath}img/icons/icon-vk.svg#icon-vk`)
						li.social__item
							a(href=`#` target="_blank").social__link 
								img(src=`${sitePath}img/icons/icon-dzen.png` alt="")
						li.social__item
							a(href='https://ok.ru/muranovo' target="_blank").social__link 
								svg(width="13" height="22")
									use(xlink:href=`${sitePath}img/icons/icon-ok.svg#icon-ok`)
			nav.footer__nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href=`${sitePath}#`) Режим работы
					li.nav__item
						a.nav__link(href=`${sitePath}museum.html`) О музее
					li.nav__item
						a.nav__link(href=`${sitePath}events.html`) Мероприятия
					li.nav__item
						a.nav__link(href=`${sitePath}map.html`) Схема проезда
					li.nav__item
						a.nav__link(href=`${sitePath}afisha.html`) Афиша
					li.nav__item
						a.nav__link(href=`${sitePath}visitors.html`) Посетителям
					li.nav__item
						a.nav__link(href=`${sitePath}rules.html`) Информация о посещении
					li.nav__item
						a.nav__link(href=`${sitePath}programs.html`) Программы
					li.nav__item
						a.nav__link(href=`${sitePath}contacts.html`) Контакты
			.footer__feedback
				p Есть вопрос или предложение?
				span Ждем ваших предложений. <a href=`${sitePath}#`>Написать</a>
			ul.footer__phones.phones
				li.phones__item
					a.phones__link(href="tel:+74965318180") +7 (496) 531-81-80
					span Приёмная директора
				li.phones__item
					a.phones__link(href="tel:+79853173898") +7 (985) 317-38-98
					span Запись на экскурсию
				li.phones__item
					a.phones__link(href="tel:+74965854628") +7 (496) 585-46-28
					span Церковь
			.footer__copy 	
				p Государственное автономное учреждение культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных»
