extends ../base

block vars
	-let pageName = 'documents-page'
	-let pageTitle = 'Документация'
	-let parentPage = 'О музее'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'museum.html')
					h1.pagetop__title= pageTitle
			section.section.documents
				.documents__container.container
					ul.documents__list
						li.documents__item 	
							a.link(href=`${sitePath}docs/Ustav2022.pdf` target="_blank").documents__link Устав Государственного автономного учреждения культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных»
						li.documents__item 	
							a.link(href=`${sitePath}docs/izmeneniaustav.pdf` target="_blank").documents__link ИЗМЕНЕНИЯ в Устав государственного автономного учреждения культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных, утверждённый распоряжением Министерства культуры Московской области от 18.02.2022 № 17ВР-12»
						li.documents__item 	
							a.link(href=`${sitePath}docs/statement.pdf` target="_blank").documents__link Положение о закупках товаров, работ и услуг для нужд музея (информация для поставщиков)
						li.documents__item 	
							a.link(href=`${sitePath}docs/price_2024.pdf` target="_blank").documents__link Перечень цен на основные услуги, оказываемые музеем-заповедником «Усадьба «Мураново»
						li.documents__item 	
							a.link(href=`${sitePath}docs/777.pdf` target="_blank").documents__link Положение о защите персональных данных работника
						li.documents__item 	
							a.link(href=`${sitePath}docs/PERECHEN_bezopasnost.pdf` target="_blank").documents__link Перечень рекомендуемых мероприятий по улучшению условий труда
						li.documents__item 	
							a.link(href=`${sitePath}docs/SOUT2021.pdf` target="_blank").documents__link Результаты оценки качества условий труда
						li.documents__item 	
							a.link(href=`${sitePath}docs/Perechen_zakupki.pdf` target="_blank").documents__link Перечень (закупки)
			+seeMore(pageName, parentPage)