extends ../base

block vars
	-let pageName = 'events-page'
	-let pageTitle = 'Мероприятия'
	-let metaTitle = 'Мероприятия | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(`${pageTitle}`)
					h1.pagetop__title= pageTitle
			section.section.events
				include ../parts/events-list
				.events__container.container
					.events__tabs.tabs
						button.events__tab.tab-target(data-button="holidays") Праздники
						button.events__tab.tab-target(data-button="tours") Экскурсии
						button.events__tab.tab-target(data-button="child") Детям
						button.events__tab.tab-target(data-button="archive") Архив
					ul.events__list.events__body.tab-body#holidays
						each item in eventsList
							if (item.category == 'Мероприятия' && item.group == 'Праздники' && item.archive == false)
								+eventItem(`${item.title}`, `${item.date}`, `${item.image}`, `${item.link}`, `${item.category}`, `${item.pushkincard}`, `${item.age}`)
					ul.events__list.events__body.tab-body#tours
						each item in eventsList
							if (item.category == 'Мероприятия' && item.group == 'Экскурсии' && item.archive == false)
								+eventItem(`${item.title}`, `${item.date}`, `${item.image}`, `${item.link}`, `${item.category}`, `${item.pushkincard}`, `${item.age}`)
					ul.events__list.events__body.tab-body#child
						each item in eventsList
							if (item.category == 'Детям' && item.archive == false)
								+eventItem(`${item.title}`, `${item.date}`, `${item.image}`, `${item.link}`, `${item.category}`, `${item.pushkincard}`, `${item.age}`)
					ul.events__list.events__body.tab-body#archive
						each item in eventsList
							if (item.category == 'Мероприятия' && item.archive == true)
								+eventItem(`${item.title}`, `${item.date}`, `${item.image}`, `${item.link}`, `${item.category}`, `${item.pushkincard}`, `${item.age}`)