extends ../base

block vars
	-let pageName = 'preparation-page'
	-let pageTitle = 'Подготовка к визиту'
	-let parentPage = 'Посетителям'
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle, parentPage, 'visitors.html')
					h1.h2.pagetop__title= pageTitle
				.pagetop__tabs.tabs.container.scroll-layer
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="mode") Часы работы
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="howtoget") Как добраться
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="rules") Правила посещения
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="cost") Стоимость услуг
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="cafe") Кафе «В амбаре»
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="stay") Где остановиться
					button.pagetop__tab.btn.btn-tab.btn-tab--white.tab-target(data-button="near") Объекты рядом
			section.section.preparation
				.preparation__container.container.container--bg-fill
					.preparation__content.background-fill 	
						.user-content.narrow-content
							.tab-body#mode
								h3 Часы работы
								.highlight.highlight--brownback
									h4 Внимание!
									p <strong>10 и 11 июня</strong> музей и усадебный парк закрыты по техническим причинам! 
								.highlight.highlight--brownback
									h4 Уважаемые гости!
									ul 
										li Посещение Главного усадебного дома возможно только с экскурсоводом.
										li Приобрести билет на экскурсию можно в кассе музея.
										li Приобрести билет онлайн можно только в усадебный парк или по Пушкинской карте.
										li Рекомендуем записываться на экскурсию заранее по телефону: +7 (985) 317-38-98
								.highlight.highlight--whiteback
									h5 Усадебный парк
									p Ежедневно с 10:00 до 20:00
								.highlight-block.highlight-block--single
									.highlight-block__block
										.highlight-block__top 
											.highlight-block__name.h5 Экспозиции музея
										.highlight-block__info
											p вт-вс с 10:00 до 17:30
									.highlight-block__block
										.highlight-block__top 
											.highlight-block__name.h5 экскурсионное обслуживание
										.highlight-block__info
											p до 16:30
									.highlight-block__block
										.highlight-block__top 
											.highlight-block__name.h5 Касса
										.highlight-block__info
											p до 17:00
								.highlight.highlight--whiteback
									h5 Кафе «В амбаре»
									p ср-вс с 10:00 до 18:00
									p.c-brown <strong>ПН и ВТ: музей и кафе «В амбаре» закрыты!</strong>
								.highlight.highlight--brownback
									p.text-uppercase <strong>последняя пятница каждого месяца — санитарный день</strong>
								p В усадебный парк можно попасть с собаками (до 40 см в холке и при наличии средств уборки). Попасть с животными в музейные экспозиции не удастся.
								p С полными Правилами посещения экспозиции музея можно ознакомиться <a href="#" class="link">ЗДЕСЬ</a>.
								br
								p <strong>Ежедневно действуют специальные программы и акции:</strong>
								ul
									li «
										a.link(href=`${sitePath}pushkin-card.html`) Пушкинская карта
										|»
									li Программа для работников культуры Московской области.
							.tab-body#howtoget
								h3 Как добраться
								.highlight.highlight--whiteback
									h5 Адрес
									p 141250, Московская область, Пушкинский городской округ,  деревня Мураново.
								.highlight.highlight--whiteback
									i.train
										h5 Электропоездом
									ul
										li С Ярославского вокзала (<a href="https://www.tutu.ru/rasp.php?st1=20000&st2=47907" target="_blank">см. расписание</a>) до ст. Софрино или Ашукинская.
										li Далее автобусом № 34 до остановки «Музей «Мураново» (<a href="https://rasp.yandex.ru/search/bus/?fromName=%D0%90%D1%88%D1%83%D0%BA%D0%B8%D0%BD%D0%BE&toName=%D0%9C%D1%83%D1%80%D0%B0%D0%BD%D0%BE%D0%B2%D0%BE&fromId=c33958&toId=c33973&when=%D1%81%D0%B5%D0%B3%D0%BE%D0%B4%D0%BD%D1%8F" target="_blank">см. расписание</a>).
								.highlight.highlight--whiteback
									i.car 
										h5 На такси
									ul
										li От ст. Ашукинская можно доехать на такси.
										li Тел: +7 (985) 271-07-98 или +7 (903) 259-62-12 (такси «Кардинал»). Стоимость проезда – 250 руб.
								.highlight.highlight--whiteback
									i.car 
										h5 На Автомобиле
									ul
										li По Ярославскому шоссе
									.ymap#ymap
							.tab-body#rules
								h3 Правила посещения
								.table.table--col-2.table--rules
									.table__item
										h4 в музее Я
									.table__item
										h4 Я не
									.table__item
										p Предъявляю билет
									.table__item
										p Прихожу в музей в состоянии алкогольного и наркотического опьянения
									.table__item
										p Оставляю в гардеробе верхнюю одежду и габаритные вещи
									.table__item
										p Прихожу в музей в пляжной одежде
									.table__item
										p Надеваю бахилы
									.table__item
										p Прихожу в музей с домашними животными
									.table__item
										p Выполняю рекомендации экскурсовода и сотрудников музея
									.table__item
										p Прихожу в музей с едой и напитками
									.table__item
										p Захожу в экспозицию только в сопровождении экскурсовода, смотрителя (сотрудника музея)
									.table__item
										p Слушаю музыку / смотрю видео без наушников
									.table__item
										p Узнаю много нового
									.table__item
										p Разговариваю по телефону
									.table__item
										p Радуюсь жизни
									.table__item
										p Снимаю экскурсию на видео и не использую вспышку во время фото
									.table__item
										p Провожу время в отличной компании
									.table__item
										p Прикасаюсь к музейным экспонатам
								.highlight.highlight--brownback
									ul 
										li <strong>Не более 15 человек в группе</strong>
										li <strong>Утвержденный экскурсионный график</strong>
										li <strong>Посетители обязаны выполнять требования и рекомендации экскурсоводов, сопровождающих экскурсионную группу смотрителей и сотрудников Службы безопасности Музея.</strong>
								p 
									|С полным текстом документа «Правила приема посетителей Главного усадебного дома музея-заповедника «Усадьба «Мураново» Вы можете ознакомиться 
									a.link(href=`${sitePath}docs/rules.pdf`) ЗДЕСЬ
									| или обратившись к смотрителям музея.
								.highlight.highlight--whiteback
									h5 Экскурсионным группам
									p Для организованных экскурсионных групп обязательна предварительная запись по телефону: +7 (985) 317-38-98

							.tab-body#cost
								h3 Стоимость услуг
								.highlight.highlight--brownback
									h4 Уважаемые гости!
									ul
										li Посещение Главного усадебного дома возможно только с экскурсоводом!
										li Для организованных экскурсионных групп обязательна предварительная запись по телефону: +7 (985) 317-38-98
								p Далее Вы можете ознакомиться со стоимостью основных услуг, оказываемых музеем.
								p 
									|с полным Перечнем цен на услуги можно ознакомиться в разделе «
									a(href=`${sitePath}documents.html`) Документация
									|»
								br
								.table.table--tickets.scroll-layer
									.table__row.table__header
										.table__item.table__item--center
											h5 Наименование услуги
										.table__item.table__item--center
											h5 Стоимость
										.table__item.table__item--inner-table
											.table__col
												p Полный
											.table__col
												p Льготный
											.table__col
												p Бесплатные билеты*
									.table__row.table__group
										h5.c-accent Входные билеты без экскурсий
									.table__row
										.table__item
											p Входной билет на территорию музейного парка
										.table__item.table__item--inner-table
											.table__col
												p 70₽
											.table__col
												p 50₽
											.table__col
												p —
									.table__row
										.table__item
											p Входной билет в Выставочный зал
										.table__item.table__item--inner-table
											.table__col
												p 100₽
											.table__col
												p 80₽
											.table__col
												p —
									.table__row
										.table__item
											p Входной билет в экспозицию «Усадебная кухня»
										.table__item.table__item--inner-table
											.table__col
												p 50₽
											.table__col
												p 30₽
											.table__col
												p —
									.table__row
										.table__item
											p Вход на территорию парка во время фестивалей, открытых концертов и др. мероприятий платный для всех категорий граждан
										.table__item.table__item--inner-table
											.table__col
												p 300₽
											.table__col
												p 300₽
											.table__col
												p 300₽
									.table__row.table__group
										h5.c-accent Основные экскурсии**
									.table__row
										.table__item
											p Экскурсия по экспозиции Усадебного дома<br>будни
										.table__item.table__item--inner-table
											.table__col
												p 500₽
											.table__col
												p 400₽
											.table__col
												p 280₽
									.table__row
										.table__item
											p Экскурсия по экспозиции Усадебного дома<br>выходные и праздничные дни
										.table__item.table__item--inner-table
											.table__col
												p 550₽
											.table__col
												p 450₽
											.table__col
												p 280₽
									.table__row
										.table__item
											p Экскурсия по Усадебной кухне<br>будни
										.table__item.table__item--inner-table
											.table__col
												p 250₽
											.table__col
												p 180₽
											.table__col
												p 170₽
									.table__row
										.table__item
											p Экскурсия по Усадебной кухне<br>выходные и праздничные дни
										.table__item.table__item--inner-table
											.table__col
												p 300₽
											.table__col
												p 210₽
											.table__col
												p 170₽
									.table__row
										.table__item
											p Экскурсия по Усадебному парку<br>будни
										.table__item.table__item--inner-table
											.table__col
												p 220₽
											.table__col
												p 200₽
											.table__col
												p 200₽
									.table__row
										.table__item
											p Экскурсия по Усадебному парку<br>выходные и праздничные дни
										.table__item.table__item--inner-table
											.table__col
												p 280₽
											.table__col
												p 250₽
											.table__col
												p 250₽
									.table__row.table__group
										h5.c-accent Фотосъёмка на территории музея
									.table__row
										.table__item
											p Свадебная съёмка на территории музея
										.table__item.table__item--inner-table
											.table__col
												p 2000₽
											.table__col
												p 2000₽
											.table__col
												p 2000₽
								br
								p.text-disclaimer * В соответствии с перечнем цен, согласованным Министерством культуры Московской области и приказом №177  от 31.12.2019,  все льготы распространяются только на входные билеты. Оказание музеем экскурсионной услуги осуществляется за полный расчёт ее стоимости. Посещение экспозиций Главного усадебного дома возможно только с экскурсоводом, все остальные усадебные объекты вы можете осмотреть самостоятельно.
								br
								p.text-disclaimer ** Бесплатное посещение музея для лиц, сопровождающих организованные группы детей (в количестве не более двух человек).
							.tab-body#cafe
								h3 Кафе в амбаре
								+picture('image-76')
								.highlight.highlight--whiteback
									h5 График работы
									p ср-вс с 10:00 до 18:00
									p Предварительный заказ блюд и вопросы по телефону: +7 (917) 114-12-30 Ирина
									span.c-brown <strong>ПН и ВТ: музей и кафе «В амбаре» закрыты!</strong>
								p На территории усадьбы в восстановленном здании амбара находится кафе, где вас ждёт отличный кофе, мурановский чай из 17 трав, в ассортименте пирожки, блины со сметаной, сгущенкой и яблочным вареньем, традиционно знаменитые щи из квашеных ананасов и мурановские вафли, а также специальное меню выходного дня. 
								br
								a(href="https://yandex.ru/profile/1683282264" target="_blank") Посмотреть кафе в Яндекс-картах
							.tab-body#stay
								h3 Где остановиться
								h4 Кемпинг в «Мартьянково»
								p Не секрет, что летом в усадьбе «Мураново» проходит множество интереснейших фестивалей. Многих гостей интересуют объекты размещения, находящиеся поблизости.
								p Знакомим вас с поистине уникальным местом, где царит особенная атмосфера — кемпинг в Мартьянково.
								+picture('image-75')
								p В «Мартьянково» можно погулять в лесу, порыбачить, поделиться впечатлениями от прошедшего дня у вечернего костра, а на ночь остановиться в палатке у озера. Для детей здесь устраивают экскурсии, мероприятия выходного дня и недельные лагеря с разной тематикой. Отдых здесь идеально дополнит день, проведенный в усадьбе: территория окружена лесом, можно плавать на лодках.
								br
								p <strong>Проживание в кемпинге отвечает всем требованиям комфорта и включает:</strong>
								ul
									li пользование душем с горячей водой и туалетом; 
									li пользование оборудованной кухней; 
									li электричество; 
									li беседку-коворкинг; 
									li знакомство с животными.
								.highlight.highlight--whiteback
									i.info Информация
									p Адрес: <strong>территория «Посольство пчёл». 1, Мартьянково, Московская обл., 141250, 10 минут от музея-заповедника «Усадьба «Мураново»</strong>
									p Обращаем ваше внимание, что «Мартьянково» — зона тишины, этот вид размещения идеально подойдет для спокойного отдыха с семьей или друзьями.
									p Все интересующие вопросы рекомендуем уточнять по телефону +7 (495) 115-28-16 или на сайте.
									p Если у вас нет своей палатки, её можно взять в аренду в музее.
								br
								br
								h4 Гостинично-деловой комплекс Пархаев (Ашукино Спа)
								+picture('image-74')
								p Также в 10 минутах от усадьбы в направлении железнодорожной станции «Ашукинская» находится Гостинично-деловой комплекс Пархаев (Ашукино Спа).
								.highlight.highlight--whiteback
									i.info Информация
									p Адрес: <strong>Московская обл., Пушкинский р-н, г.п. Ашукино ул. Школьная, стр. 2</strong>
									p Все интересующие вопросы рекомендуем уточнять по телефону +7 (499) 753-20-05 или на <a href="https://spahotelashukino.ru" target="_blank">сайте отеля</a>.
								br
								br
								h4 Парк-отель Софрино
								+picture('image-73')
								p Для ценителей отдыха в формате «всё включено» в 30 минутах езды от музея рекомендуем отель Sofrino Park — это круглогодичный курорт в Подмосковье для всей семьи всего в 30 км от Москвы. На территории комплекса расположены сразу два отеля — европейский отель Tulip Inn Sofrino Park Hotel 4* и уникальный тематический отель Дом Творчества Гостелерадио СССР 3*.
								.highlight.highlight--whiteback
									i.info Информация
									p Адрес: <strong> МО, Пушкинский р-н, территория парк-отель Софрино (точка на карте указывает на КПП)</strong>
									p Общие вопросы рекомендуем уточнять по телефону: +7 (495) 926-26-43, bron@sofrino-park.com
									p Подробнее об отеле на <a href="https://sofrino-park.com" target="_blank">сайте</a>.
							.tab-body#near
								h3 Объекты рядом
								a.btn.btn-download(href=`${sitePath}docs/muranovo-map.jpg`) Скачать карту
								br
								br
								+picture('muranovo-map', 'jpg', false, false, true)
			+seeMore(pageName, parentPage)
