extends ../base

block vars
	-let pageName = 'policy-page'
	-let pageTitle = 'Публичная оферта'
	-let parentPage = ''
	-let metaTitle = pageTitle + ' | Усадьба Мураново'
	-let metaDescription = ''
block content
		main.main
			section.pagetop
				.pagetop__container.container
					+breadcrumps(pageTitle)
					h1.h3.pagetop__title= pageTitle
			section.section.policy
				.policy__container.container.container--bg-fill
					.policy__content.background-fill 	
						.user-content.narrow-content
							p <span class="text-uppercase"><strong>1. ОСНОВНЫЕ ТЕРМИНЫ</strong></span>
							br
							p 1.1. Соглашение — настоящее пользовательское соглашение (публичная оферта).
							p 1.2. Стороны — Музей, Клиент.
							p 1.3. Музей — Государственное автономное учреждение культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных», юридическое лицо, созданное и действующее в соответствии с законодательством Российской Федерации, зарегистрированное в Едином государственном реестре юридических лиц за ОГРН 1025004918663, являющееся владельцем сайта в сети Интернет с адресом 
								a(href=`${sitePath}`) muranovo-museum.ru
							p 1.4. Клиент (Пользователь) – дееспособное физическое лицо, достигшее 18-летнего возраста, или уполномоченный представитель юридического лица, приобретающий Продукт и использующий Банковскую карту на основании договора с банком-эмитентом, прошедший Регистрацию на сайте и использующий сайт для получения информации и Заказа Билетов на Мероприятие.
							p 1.5. Продукт — услуга, реализуемая Клиенту на основании предъявленного Ваучера.
							p 1.6. Мероприятие — зрелищное мероприятие, в том числе: театральный спектакль, концерт в зале или на открытой площадке, экскурсии, посещение усадьбы с экспозициями, а также любое иное событие, которого возможно только при предъявлении билета.
							p 1.7. Банковская карта — инструмент для совершения её держателем операций с денежными средствами, находящимися у банка, выпустившего карту, в соответствии с законодательством РФ и договором с банком.
							p 1.8. Кассы Музея — кассы Государственного автономного учреждения культуры Московской области «Объединенный мемориально-художественный музей-заповедник «Усадьба «Мураново» имени Ф.И. Тютчева и народных художественных промыслов «Усадьба Лукутиных» для продажи билетов.
							p 1.9. Стоимость Заказа определяется Музеем при каждом определённом Заказе на основе действующего Прейскуранта Музея на момент оформления Заказа на сайте.
							p 1.10. Система (платёжная система) – «Супербилет»
							p 1.11. Сайт – WEB-сайт Музея, размещённый по электронному адресу: 
								a(href=`${sitePath}`) muranovo-museum.ru
								|  , предназначенный для размещения информации и бронирования Билетов.
							p 1.12. Заказ — один или несколько билетов на одно Мероприятие, выбранных Клиентом из Системы и объединённых в Системе единым идентификационным номером, на основании которого осуществляется временное изъятие (бронирование) указанных Билетов из общей продажи в Системе.
							p 1.13. Платёж — перевод денежных средств в размере стоимости Заказа на счёт Музея с помощью Банковской карты.
							p 1.14. Подтверждение заказа — подтверждение со стороны Системы факта списания денежных средств с банковской карты Клиента.
							p 1.15. Ваучер (электронный билет) – документ в электронном виде или на бумажном носителе, подтверждающий факт осуществления Клиентом оплаты Билетов на сайте.
							p 1.16. Билет — документ, выполненный на бланке строгой отчётности, предоставляющий право посещения Мероприятия.
							p 1.17. Покупка — оплата заказа, подтверждаемая Ваучером, который бесплатно обменивается на билеты в кассах Музея.
							p 1.18. Возврат — оформленный в соответствии с условиями настоящего Соглашения возврат Платежа на Банковскую карту Клиента. (Лицо, на которое возложено право на возврат билета, является сотрудником музея).
							p 1.19. Уполномоченный представитель от Музея — ООО «Городские зрелищные кассы»
							br
							p <span class="text-uppercase"><strong>2. ПРЕДМЕТ СОГЛАШЕНИЯ</strong></span>
							br
							p 2.1. Соглашение регулирует поведение Клиента при получении информации и осуществлении Заказа при приобретении Билетов с использованием сайта или с сайта уполномоченного представителя.
							p 2.2. Соглашение является юридически обязывающим договором между Клиентом и Музеем, регламентирует использование Клиентом сайта и является в соответствии со ст. 435 и ч. 2 ст. 437 Гражданского кодекса Российской Федерации публичным договором присоединения. Музей оставляет за собой право воспользоваться всеми преимуществами, которые предусмотрены для него применимыми в таком случае положениями гражданского законодательства РФ.
							p 2.3. Настоящее соглашение вступает в силу и является действительным с момента его размещения на сайте.
							p 2.4. Слова и выражения, выделенные заглавными буквами по тексту настоящего Соглашения, если не определены непосредственно по тексту таковых, имеют значения, предусмотренные для них в разделе 1 настоящего Соглашения.
							br
							p <span class="text-uppercase"><strong>3. ВСТУПЛЕНИЕ СОГЛАШЕНИЯ В СИЛУ</strong></span>
							br
							p 3.1. Соглашение между Музеем и Клиентом вступает в силу с момента размещения Клиентом своего электронного адреса, Ф.И.О. и телефона при бронировании билетов.
							p 3.2. Заказывая и оплачивая Продукт через сайт, Клиент безоговорочно соглашается с условиями договора на реализацию Продукта, изложенными в настоящем Соглашении.
							p 3.3. Музей оставляет за собой право вносить изменения в настоящее Соглашение без дополнительного уведомления Клиента и предупреждает Клиента о том (а Клиент настоящим принимает и соглашается с тем), что при каждом новом Заказе Клиент обязан просматривать текст Соглашения на предмет внесённых изменений. 
								a(href=`${sitePath}policy.html`) Текст Соглашения
								|  постоянно размещён на сайте Музея.
							br
							p <span class="text-uppercase"><strong>4. РЕГИСТРАЦИЯ</strong></span>
							br
							p 4.1. Регистрации на сайте: Клиент обязуется заполнить все поля регистрационной формы (электронной анкеты) на сайте при бронировании билетов. Регистрируясь на сайте, Клиент подтверждает факт своего ознакомления с настоящим Соглашением и безоговорочное согласие с его условиями. Музей не несёт ответственности за точность и правильность информации предоставляемой Клиентом при регистрации.
							p 4.2. Клиент обязан:
							ul
								li указать действующий адрес электронной почты (e-mail), принадлежащий Клиенту;
								li указать действующий номер телефона, принадлежащий Клиенту;
								li ввести ФИО получателя билетов в Кассах Музея;
								li выразить своё согласие с условиями Соглашения (см. раздел 3 настоящего Соглашения).
							br
							p <span class="text-uppercase"><strong>5. ПРАВА И ОБЯЗАННОСТИ КЛИЕНТА</strong></span>
							br
							p 5.1. Клиент обязан полностью соблюдать условия настоящего Соглашения.
							p 5.2. Клиент обязуется в случае изменения личных данных, электронной почты и телефона, указанных в п.4.2. незамедлительно, насколько это будет возможно, внести соответствующие изменения.
							p 5.3. Клиент имеет право осуществлять Заказ на сайте и возврат Платежа в соответствии с условиями настоящего Соглашения.
							p 5.4. Клиент не имеет права воспроизводить, повторять, копировать, перепродавать, размещать на других сайтах, использовать в коммерческих или рекламных целях информацию с сайта, в том числе информацию о предложенных на сайте Билетах и ценах на Билеты на сайте.
							p 5.5. После получения Ваучера, Клиент самостоятельно несёт ответственность за его сохранность и подлинность, за утерю действительности Ваучера, связанную с утратой, повреждением любым способом, в т.ч. разрывом, изломом, подчистками, исправлениями и пр.
							p 5.6. Клиент осуществляет вход на Мероприятие по Билетам, ВЫДАННЫМ В КАССЕ МУЗЕЯ НА ОСНОВАНИИ ВАУЧЕРА, распечатанного на принтере полученным в электронном виде с идентификационным штрих-кодом (кодом проверки ваучера) направленным на адрес электронной почты (e-mail), указанный Клиентом при оформлении Заказа.
							br
							p <span class="text-uppercase"><strong>6. ПРАВА И ОБЯЗАННОСТИ МУЗЕЯ</strong></span>
							br
							p 6.1. Музей предоставляет Клиенту возможность осуществлять Заказ Билетов через сайт Музея и их Возврат в соответствии с условиями настоящего Соглашения.
							p 6.2. В случае ошибочного указания цены Билета, Музей обязан при первой возможности проинформировать Клиента для переоформления Заказа по новой цене либо для аннулирования Заказа. Если Заказ оплачен, Музей осуществляет возврат Платежа.
							p 6.3. Музей имеет право в одностороннем порядке изменить цену Билетов, предлагаемых на сайте, при этом Стоимость ранее оплаченных Заказов остаётся неизменной.
							p 6.4. В случаях, предусмотренных условиями Соглашения, Музей имеет право применять необходимые санкции, взимать штрафы.
							p 6.5. Музей имеет право направлять Клиентам информационные сообщения, связанные с оказанием услуг (в том числе с оформлением Заказа).
							br
							p <span class="text-uppercase"><strong>7. ПРАВИЛА ПОКУПКИ И ВОЗВРАТА БИЛЕТОВ</strong></span>
							br
							p 7.1. Валюта Платежа и Возврата.
							p 7.1.1. Валютой списания денежных средств с Банковской карты Клиента в соответствии с законодательством РФ является российский рубль.
							p 7.1.2. Валютой Возврата денежных средств на Банковскую карту Клиента в соответствии с законодательством РФ является российский рубль.
							p 7.2. Порядок совершения покупки при оплате Банковской картой.
							p 7.2.1. После выбора интересующих Билетов Клиент приступает к оформлению Заказа посредством нажатия кнопки «Заказать» и поэтапно проходит все ступени формирования Заказа.
							p 7.2.2. В любой момент до окончательного подтверждения Заказа и совершения Платежа Клиент вправе отказаться от неоплаченного Заказа, если какие‑либо условия Соглашения являются для него неприемлемыми.
							p 7.2.3. При оформлении заказа, для проведения платежа Клиент перенаправляется на сайт системы, где проверяются данные Банковской карты Клиента. При успешном проведении Платежа со счета Банковской карты снимается сумма в размере стоимости Заказа.
							p В случае, если оплата Заказа не была завершена и/или завершена неуспешно, Клиент вправе оформить новый Заказ и произвести его оплату согласно порядку, указанному в п. 7.2.
							p 7.2.4. При получении Музеем информации от Системы об успешном Платеже Клиент получает на адрес электронной почты, указанный в процессе оформления заказа, ссылку на Ваучер для его распечатывания.
							p 7.2.5. ОПЛАЧЕННЫЕ БИЛЕТЫ КЛИЕНТ МОЖЕТ ПОЛУЧИТЬ В КАССЕ МУЗЕЯ НЕ ПОЗДНЕЕ, ЧЕМ ЗА 30 МИНУТ ДО НАЧАЛА МЕРОПРИЯТИЯ И НЕ ПОЗДНЕЕ 15 МИНУТ ДО ЗАКРЫТИЯ МУЗЕЯ.
							p 7.2.6. Для получения Билетов Клиенту необходимо предъявить документ удостоверяющий личность (пункт 4.2. настоящего соглашения) паспорт, или удостоверение личности военнослужащего, или водительское удостоверение, или военный билет, или служебное удостоверение работника прокуратуры, (не являются удостоверением личности различного рода удостоверения, кроме удостоверения работника прокуратуры, ровно так же как и студенческий билет или пенсионное удостоверение, такие документы только подтверждают статус человека, его принадлежность к той или иной структуре или социальной группе) и распечатанный Ваучер или назвать номер Ваучера. Номер Ваучера указан в сообщении, высланном по электронной почте на адрес Клиента.
							p 7.2.7. Музей имеет право отказать Клиенту в выдаче Билетов в случае:
							p а. При получении информации от Системы о совершении или подозрении на совершение мошеннической операции с использованием Банковской карты Клиента до Возврата Платежа на Банковскую карту Клиента;
							p б. Если Билеты по соответствующему Заказу были выданы Клиенту ранее;
							p в. В случае невозможности идентифицировать личность получателя Билетов;
							p г. Технического сбоя программно-аппаратного комплекса, послужившего (или который может послужить) причиной для отмены Заказа;
							p д. Возврата Платежа по соответствующему Заказу на Платёжное средство Клиента до момента обращения Клиента в Кассу для получения Билета по Заказу;
							p е. Не совпадения личных данных о Клиенте (Имени, Отчестве), указанных в Ваучере и в предъявленном Клиентом документе, удостоверяющим личность.
							p ж. О не соответствии возрастного ограничения на посещение конкретного мероприятия
							p 7.2.8. В случае одностороннего отказа Клиента от Заказа, Клиент имеет право на Возврат суммы, уплаченной им при оформлении Заказа в соответствии с п. 7.7. настоящего Соглашения.
							p 7.3. Отказ в выдаче билетов.
							p Стороны пришли к соглашению, что в случае отказа Музеем в выдачи Клиенту Билетов по указанным в п.п. 7.2.7. основаниям, факт неполучения Клиентом Билетов по соответствующему Заказу будет признаваться Музеем и Клиентом фактом неполучения Билетов по вине Клиента и освобождает Музей от Возврата суммы Платежа соответствующего Заказа Клиенту. Если Клиент фактически не получил Билеты по соответствующему Заказу в срок, указанный в п.п. 7.2.5, то данное событие является достаточным основанием для Музея прекратить свои обязательства по настоящему Соглашению в одностороннем порядке в соответствии с условиями Соглашения и считать свои обязательства перед Клиентом выполненными в полном объёме.
							p 7.4. Безопасность платежей.
							p 7.4.1. Клиент обязан совершать Платежи только при помощи собственной Банковской карты.
							p 7.5. Аннулирование Заказа.
							p 7.5.1. Музей вправе аннулировать Заказ в случаях, указанных в п.п. 7.2.5.
							p 7.5.2. Музей имеет право в случае неполучения подтверждения об успешном Платеже от Системы аннулировать Заказ через 2 (два) часа после его оформления Клиентом на сайте.
							p 7.5.3. Музей вправе аннулировать Заказ в случае технического сбоя программно-аппаратного комплекса при осуществлении Заказа. Стоимость Заказа при этом возвращается на Банковскую карту, при помощи которой был совершён соответствующий Платёж в соответствии с п.п. 7.7.2.2. настоящего Соглашения.
							p 7.6. Информационная поддержка Клиента.
							p 7.6.1. В случае возникновения вопросов, связанных с осуществлением Платежа, Клиент может обратиться в Музей по телефону: +7 (496) 531-81-80 (в рабочие дни с 10.00 до 17.30) или по электронной почте по адресу: 
								a(href="mailto:mk_muranovo@mosreg.ru") mk_muranovo@mosreg.ru
							p 7.6.2. По всем вопросам, претензиям и пожеланиям, связанным с осуществлением Платежа c использованием банковской карты Клиент должен обращается в службу 
								a(href="mailto:pay@muzei.ru") pay@muzei.ru
							p 7.7. Правила возврата Платежа.
							p 7.7.1. Правила возврата Платежа по запросу Клиента до обмена Ваучера на Билет в кассе музея.
							p 7.7.1.2. Для осуществления возврата Платежа Клиент должен отправить запрос по электронной почте 
								a(href="mailto:pay@muzei.ru") pay@muzei.ru
							p 7.7.1.3. Обработка запросов на осуществление Возврата Платежа осуществляется в рабочие дни с 10 до 17 часов по Московскому времени. Запрос принимается Музеем в обработку только после выполнения Клиентом в полном объёме условий, оговорённых в п.п. 7.7.1.2.
							p 7.7.1.4. Возврат денежных средств на основании Федерального закона от 18.07.2019 № 193-ФЗ возможен только в течение периода действия Ваучера при условии возврата Ваучера в срок:
							ul
								li НЕ ПОЗДНЕЕ, ЧЕМ ЗА 10 ДНЕЙ ДО ДАТЫ НАЧАЛА МЕРОПРИЯТИЯ, УКАЗАННОЙ НА ВАУЧЕРЕ (10 ДНЕЙ) – 100%
								li МЕНЕЕ ЧЕМ ЗА 10 ДНЕЙ, НО НЕ ПОЗДНЕЕ, ЧЕМ ЗА 5 ДНЕЙ ДО ДАТЫ НАЧАЛА МЕРОПРИЯТИЯ, УКАЗАННОЙ НА ВАУЧЕРЕ (5–10 ДНЕЙ) – 50%
								li МЕНЕЕ ЧЕМ ЗА 5 ДНЕЙ, НО НЕ ПОЗДНЕЕ, ЧЕМ ЗА 3 ДНЯ ДО ДАТЫ НАЧАЛА МЕРОПРИЯТИЯ, УКАЗАННОЙ НА ВАУЧЕРЕ (5–3 ДНЕЙ) – 30%
								li МЕНЕЕ ЧЕМ ЗА 3 ДНЯ ДО ДАТЫ НАЧАЛА МЕРОПРИЯТИЯ, УКАЗАННОЙ НА ВАУЧЕРЕ (3 ДНЯ) – 0%
								li В СЛУЧАЕ ПРОПУСКА УКАЗАННОГО СРОКА ИЛИ НЕСОБЛЮДЕНИЯ ПРЕДУСМОТРЕННОГО ПОРЯДКА, ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ НЕ ПРОИЗВОДИТСЯ.
							p 7.7.1.5. При возврате Ваучера соответствующий Ваучеру штрих-код Музеем удаляется, а Ваучер становится не действительным и не принимается Музеем.
							p 7.7.1.6. Возврат денежных средств за утерянный или повреждённый Ваучер, а также за использование частично или полностью Ваучер, не производится.
							p 7.7.1.7. ЗА ТРИ ДНЯ ДО ПРОВЕДЕНИЯ МЕРОПРИЯТИЯ ВАУЧЕР В КАССУ НЕ ПРИНИМАЕТСЯ И ДЕНЬГИ ЗА БИЛЕТЫ НЕ ВОЗВРАЩАЮТСЯ.
							p 7.7.2. Правила Возврата стоимости Билетов, приобретённых при помощи Банковской Карты на сайте и полученные в Кассах музея.
							p 7.7.2.1. Возврат стоимости Билета осуществляется только на Банковскую Карту, с которой был произведён Платёж.
							p 7.7.3. Правила возврата Билетов по инициативе Музея.
							p 7.7.3.1. При Возврате Платежа в случае отмены Мероприятия или в случае замены Мероприятия, если Билеты подлежат возврату, а также в случае возникновения технических сбоев, послуживших причиной некорректного оформления Заказа или осуществления Платежа, Музей производит аннулирование Заказа и возвращает Клиенту Платёж без применения штрафных санкций.
							p 7.7.3.2. В случаях, предусмотренных п.п. 6.2., 7.7.2.1., Музей обязуется в течение 5 (пяти) рабочих дней оповестить Клиента путём отправки письма по указанному Клиентом при регистрации адресу электронной почты, и в течение 15 (пятнадцати) банковских дней осуществить возврат Платежа на Банковскую Карту Клиента, с которой был совершён соответствующий Платёж без штрафных санкций.
							p 7.7.4. Стороны пришли к соглашению, что в случае Возврата Платежа Музеем в соответствии с условиями настоящего Соглашения и/или Правилами Международных Платёжных Систем и законодательством РФ по соответствующему Заказу, будет расцениваться Сторонами как событие, которое является достаточным основанием для Музея прекратить свои обязательства по настоящему Соглашению и считать свои обязательства перед Клиентом выполненными в полном объёме.
							p 7.8. Дата Возврата Платежа.
							p 7.8.1. Датой Возврата Платежа считается дата списания денежных средств со счета Музея. За дальнейшее прохождение денежных средств Музей ответственности не несёт.
							br
							p <span class="text-uppercase"><strong>8. КОНФИДЕНЦИАЛЬНОСТЬ ИНФОРМАЦИИ</strong></span>
							br
							p 8.1. Музей обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Музеем информации лицам, действующим на основании договора с Музеем, для исполнения обязательств перед Клиентом. Музей предоставляет доступ к персональным данным Клиента только тем работникам, подрядчикам и агентам, которым эта информация необходима для обеспечения функционирования сайта и предоставления услуг Клиенту.
							p 8.2. Обработка персональных данных Клиента осуществляется в соответствии с применимым законодательством. Музей обрабатывает персональные данные Клиента в целях предоставления Клиенту услуг, проверки, исследования и анализа таких данных и для связи с Клиентом. Музей принимает все необходимые меры для защиты персональных данных Клиента от неправомерного доступа, распространения, изменения, раскрытия или уничтожения.
							p 8.3. При соглашении с Пользовательским соглашением на сайте Клиент даёт согласие на обработку персональных данных, как с использованием средств автоматизации, так и без таковых, включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, предоставленных Клиентом в связи с выполнением настоящего Соглашения, а также иных действий, предусмотренных Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».
							p 8.4. Музей не проверяет достоверность предоставленных Клиентом персональных данных и не осуществляет контроль их актуальности, но исходит из того, что Клиент предоставляет достоверные и достаточные персональные данные по вопросам, предлагаемым в форме Регистрации, и поддерживает эту информацию в актуальном состоянии. Всю ответственность за последствия предоставления недостоверных или недействительных персональных данных несёт Клиент.
							p 8.5. Музей вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований применимого законодательства (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Клиента). Раскрытие предоставленной Клиентом информации может быть произведено лишь в соответствии с применимым действующим законодательством по требованию суда, правоохранительных органов и в иных предусмотренных законодательством случаях.
							br
							p <span class="text-uppercase"><strong>9. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</strong></span>
							br
							p 9.1. Клиент использует сайт и предоставляемую им функциональность на свой собственный риск. Музей не принимает на себя ответственность, в том числе и за соответствие сайта целям и ожиданиям Клиента.
							p 9.2. Музей не несёт никакой ответственности, ни по каким договорам между Клиентом и третьими лицами.
							p 9.3. Музей не гарантирует: что сайт будет соответствовать требованиям Клиента; сайт будет работать непрерывно, быстро, надёжно и без ошибок. Музей имеет право в любой момент в одностороннем порядке прекратить действие сайта в целом или части его функций без предварительного уведомления Клиента. Музей не несёт ответственности за временное или постоянное прекращение работы сайта.
							p 9.4. Музей прилагает все возможные усилия для обеспечения нормальной работоспособности сайта, однако Музей не несёт ответственности за неисполнение или ненадлежащее исполнение обязательств по Соглашению перед Клиентом в части возмещения убытков (ущерба), прямых или косвенных, произошедших из-за использования или невозможности использования сайта.
							p 9.5. В случае наступления форс-мажорных обстоятельств, а также аварий или сбоев в программно-аппаратных комплексах третьих лиц, сотрудничающих с Музеем, или действий (бездействий) третьих лиц, направленных на приостановку или прекращение функционирования сайта, возможна приостановка работы сайта без какого‑либо уведомления Клиента.
							p 9.6. Музей не несёт ответственности за сроки осуществления Платежей банками и иными организациями, в том числе при возврате Платежей Клиента.
							p 9.7. При любых обстоятельствах ответственность Музея перед Клиентом ограничена стоимостью приобретаемых Клиентом Билетов.
							p 9.8. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если такое неисполнение явилось следствием действия обстоятельств непреодолимой силы, возникших после вступления в силу Соглашения, в результате событий чрезвычайного характера, которые Стороны не могли предвидеть и предотвратить разумными мерами.
							p 9.9. Музей не несёт ответственности по возникшим между Клиентом и Системой и/или кредитным учреждением спорам и разногласиям по Платежам.
							br
							p <span class="text-uppercase"><strong>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></span>
							br
							p 10.1. Настоящий документ является исчерпывающим Соглашением между Клиентом и Музеем, определяет условия пользования сайтом и имеет преимущественную силу над любыми предварительными договорённостями между Клиентом и Музеем (включая, помимо прочего, предыдущие редакции Соглашения). В случае возникновения противоречий, текст Соглашения, размещённый на сайте, будет иметь преимущество по сравнению с любым иным текстом Соглашения.
							p 10.2. В случаях, не указанных в Соглашении, отношения между Музеем и Клиентом регулируются законодательством РФ.
							p 10.3. Клиент соглашается, что любые иски или претензии, возникающие из или в связи с использованием сайта или положениями настоящего Соглашения, должны предъявляться в течение 1 (одного) года с момента возникновения, иначе они автоматически теряют силу по истечении этого срока, вне зависимости от любого закона или положения, утверждающего обратное.
							p 10.4. Бездействие со стороны Музея в случае нарушения Клиентом Соглашения не лишает Музей права предпринять соответствующие действия в защиту своих интересов в течение 1 года, с момента возникновения, иначе они автоматически теряют силу по истечении этого срока, вне зависимости от любого закона или положения, утверждающего обратное.
							p 10.5. В случае возникновения разногласий и споров по поводу Соглашения и области его действия, Музей и Клиент предпримут все возможные усилия к их разрешению путём переговоров. В случае невозможности разрешения споров путём переговоров они будут разрешаться в соответствии с законодательством РФ.
							p 10.6. Признание судом какой‑либо части Соглашения недействительной или не подлежащей принудительному исполнению не влечёт недействительности или неисполнимости иных положений Соглашения.
							p 10.7. Используемые в тексте Договора заголовки введены исключительно для удобства, не являются частью Договора и не могут использоваться для придания правового статуса.
							p 10.8. Стороны пришли к Соглашению, что при согласии Клиента с текстом Соглашения и изъявления этого согласия путём Регистрации, Стороны признают данное согласие Клиента его собственноручной подписью.
							p 10.9. Вся текстовая информация и графические изображения, находящиеся на сайте, являются собственностью Музея.
							p 10.10. Клиент настоящим подтверждает, что ознакомился и принимает полностью (и без каких‑либо дополнительных оговорок) условия настоящего Соглашения, расположенные выше на сайте, изложенные на специальной странице сайта и являющиеся, взятыми совокупно и/или по отдельности, неотъемлемой частью настоящего Соглашения. Клиент настоящим обязуется полностью соблюдать в своих взаимоотношениях с Музеем все условия и положения настоящего Соглашения, и несёт всю связанную с этим юридическую ответственность перед Музеем.
							p 10.11. Все 
								a(href=`${sitePath}contacts.html`) контакты Музея
								|  размещены на сайте.