mixin picture(path, type = 'jpg', customClass = false)
	picture 
		//- source(type="image/avif" srcset=`img/${path}.avif?${randomNumber}`)
		//- source(type="image/webp" srcset=`img/${path}.webp?${randomNumber}`)
		img(src=`${sitePath}img/${path}.${type}?${randomNumber}` alt="" class= customClass)

mixin svg(name, id = name)
	svg 
		use(xlink:href=`${sitePath}img/icons/${name}.svg#${id}`)

mixin breadcrumps(currentPage, prevPage = false, prevLink = false)
	.breadcrumps
		a.breadcrumps__item.breadcrumps__home.btn.btn-link(href=`${sitePath}`) Главная
		span.breadcrumps__separator.breadcrumps__separator--first
		if (prevPage && prevLink)
			a.breadcrumps__item.breadcrumps__prev.link.btn.btn-link(href=`${sitePath}${prevLink}`)= prevPage
			span.breadcrumps__separator
			span.breadcrumps__item.breadcrumps__current= currentPage
		else
			span.breadcrumps__item.breadcrumps__current= currentPage

mixin btnTicker(color = "grey", url)
	if (url)
		a(href=`${sitePath}${url}` class=`btn--${color}`).btn.btn-transparent.ticker
			ul.ticker__content
				-for (let i=0; i<5; i++)
					li.ticker__item
						block
	else
		button.btn.btn-transparent.ticker(class=`btn--${color}`) 
			ul.ticker__content
				-for (let i=0; i<5; i++)
					li.ticker__item
						block

mixin eventItem(title, date, pic, link, category, pushkincard, age)
	li.events__item
		a(href= link).events__link
			.events__pic
				+picture(pic)
				.events__props.tags
					if (category)
						.events__prop.tag.tag--category= category
					if (pushkincard == 'true')
						.events__prop.tag.tag--pushkin
					if (age)
						.events__prop.tag.tag--age= age + '+'
			.events__text 
				.events__date= date
				.events__title= title

mixin newsItem(title, date, pic, link)
	li.news__item
		a(href= link).news__link
			.news__top
				.news__title.h4= title
				.news__pic
					+picture(pic)
			.news__text 
				.news__date= date
				.news__announce
					block

mixin catItem(name, link, pic, customClass)
	li.category__item(class= customClass)
		a(href=`${sitePath}${link}`).category__link
			h4.category__name= name
			.category__pic 
				+picture(`${pic}`, 'png')