mixin picture(path, type = 'jpg', customClass = false)
	picture 
		//- source(type="image/avif" srcset=`img/${path}.avif?${randomNumber}`)
		//- source(type="image/webp" srcset=`img/${path}.webp?${randomNumber}`)
		img(src=`${sitePath}img/${path}.${type}?${randomNumber}` alt="" class= customClass)

mixin svg(name)
	svg 
		use(xlink:href=`${sitePath}img/icons/${name}.svg#${name}`)

mixin btnTicker(color = "grey", url)
	if (url)
		a(href=`${sitePath}${url}` class=`btn--${color}`).btn.btn-transparent.ticker
			ul.ticker__content
				-for (let i=0; i<5; i++)
					li.ticker__item
						block
	else
		button.btn.btn-transparent.ticker(class=`btn--${color}`) 
			ul.ticker__content
				-for (let i=0; i<5; i++)
					li.ticker__item
						block

mixin eventItem(title, date, pic)
	li.events__item
		.events__pic
			+picture(pic)
			.events__props.tags
				block
		.events__text 
			.events__date= date
			.events__title= title