mixin picture(path, type = 'jpg', customClass = false, caption, gallery, groupName = '')
	if (caption && !gallery)
		a.gallery-pic(href=`${sitePath}img/${path}.${type}?${randomNumber}` data-fancybox= groupName data-caption!= caption class= customClass)
			figure
				picture 
					//- source(type="image/avif" srcset=`img/${path}.avif?${randomNumber}`)
					//- source(type="image/webp" srcset=`img/${path}.webp?${randomNumber}`)
					img(src=`${sitePath}img/${path}.${type}?${randomNumber}` alt="")
					figcaption!= caption
	if (gallery)
		.swiper-slide
			a.gallery-pic(href=`${sitePath}img/${path}.${type}?${randomNumber}` data-fancybox= groupName data-caption!= caption class= customClass)
				figure
					picture 
						//- source(type="image/avif" srcset=`img/${path}.avif?${randomNumber}`)
						//- source(type="image/webp" srcset=`img/${path}.webp?${randomNumber}`)
						img(src=`${sitePath}img/${path}.${type}?${randomNumber}` alt="")
					if (caption)
						figcaption!= caption
	if (!gallery && !caption)
		picture 
			//- source(type="image/avif" srcset=`img/${path}.avif?${randomNumber}`)
			//- source(type="image/webp" srcset=`img/${path}.webp?${randomNumber}`)
			img(src=`${sitePath}img/${path}.${type}?${randomNumber}` alt="" class= customClass)

mixin svg(name, id = name)
	svg 
		use(xlink:href=`${sitePath}img/icons/${name}.svg#${id}`)

mixin quote
	blockquote
		q
			block 

mixin breadcrumps(currentPage, prevPage = false, prevLink = false)
	.breadcrumps
		a.breadcrumps__item.breadcrumps__home.btn.btn-link(href=`${sitePath}`) Главная
		span.breadcrumps__separator.breadcrumps__separator--first
		if (prevPage && prevLink)
			a.breadcrumps__item.breadcrumps__prev.btn.btn-link(href=`${sitePath}${prevLink}`)= prevPage
			span.breadcrumps__separator
			span.breadcrumps__item.breadcrumps__current= currentPage
		else
			span.breadcrumps__item.breadcrumps__current= currentPage

mixin btnTicker(color = "grey", url, customClass)
	if (url)
		if (url.slice(0, 4) == 'http')
			a(href= url target="_blank" class=`btn--${color} ${customClass}`).btn.btn-transparent.ticker
				ul.ticker__content
					-for (let i=0; i<5; i++)
						li.ticker__item
							block
		else
			a(href=`${sitePath}${url}` class=`btn--${color} ${customClass}`).btn.btn-transparent.ticker
				ul.ticker__content
					-for (let i=0; i<5; i++)
						li.ticker__item
							block
	else
		button.btn.btn-transparent.ticker(class=`btn--${color}`) 
			ul.ticker__content
				-for (let i=0; i<5; i++)
					li.ticker__item
						block

mixin eventItem(title, date, pic, link, category, pushkincard, age, customClass)
	li.events__item(class= customClass)
		a(href= link).events__link
			.events__pic
				+picture(pic)
				.events__props.tags
					if (category)
						.events__prop.tag.tag--category= category
					if (pushkincard == true)
						.events__prop.tag.tag--pushkin
					if (age)
						.events__prop.tag.tag--age= age + '+'
			.events__text 
				.events__date= date
				.events__title= title

mixin newsItem(title, date, pic, link, announce, customClass)
	li.news__item(class= customClass)
		a(href= link).news__link
			.news__top
				.news__title
					.news__title--fill.h4= title
					.news__title--outline.h4= title
				.news__pic
					+picture(pic)
			.news__text 
				.news__date= date
				.news__announce= announce

mixin catItem(name, link, pic, customClass)
	li.category__item(class= customClass)
		a(href= sitePath + link).category__link
			h4.category__name= name
			.category__pic 
				+picture(pic, 'png')

mixin seeMore(pageName, parentPage, contentType = 'pages')
	section.section.seemore.category
		.seemore__container.container
			h2.seemore__heading.section__heading Смотрите также
			.swiper.swiper-tape
				if (contentType == 'events')
					include events-list
					ul.swiper-wrapper
						- let i = 0
						each item in eventsList
							if (item.category == 'Мероприятия' && item.archive == false && i < 4)
								+eventItem(item.title, item.date, item.image, item.link, item.category, item.pushkincard, item.age, 'swiper-slide')
								- i++
				if (contentType == 'programs')
					include events-list
					ul.swiper-wrapper
						- let i = 0
						each item in eventsList
							if (item.category == 'Программы' && item.archive == false && i < 4)
								+eventItem(item.title, item.date, item.image, item.link, item.category, item.pushkincard, item.age, 'swiper-slide')
								- i++
				if (contentType == 'news')
					include news-list
					ul.swiper-wrapper
						- let i = 0
						each item in newsList
							if (i < 3)
								+newsItem(item.title, item.date, item.image, item.link, item.announce, 'swiper-slide')
								- i++
				if (contentType == 'pages')
					include pages-list
					ul.swiper-wrapper
						each item in pagesList
							if (pageName !== item.name + '-page' && parentPage == item.parent)
								if (item.parent == "Контакты")
									+catItem(item.title, item.name, item.image, "swiper-slide")
								else
									+catItem(item.title, item.name + '.html', item.image, "swiper-slide")

mixin contactBlock(title, suptitle, link, customClass)
	.highlight-block__block
		.highlight-block__top
			if (suptitle)
				.highlight-block__suptitle= suptitle
			if (title)
				.highlight-block__name.h5= title 
		.highlight-block__info(class= customClass)
			block
		if (link)
			.highlight-block__link 
				a(href="#feedback" data-fancybox).btn.btn-link Написать

mixin objectItem(type, title, description, image, link, id, icon, status)
	if (type === "map")
		article.objects__item.objects__map-item(id=`object-${id}`)
			button.btn.map-objects-close
			.objects__top
				.objects__image
					+picture(image)
					.objects__icon
						+svg('objects', `object-${icon}`)
				.objects__text
						.objects__title= title
						.objects__description 
							p!= description
			if (link)
				.objects__bottom
					.objects__link
						+btnTicker('grey', link)
							|• Подробнее
	if (type === "list")
		article.objects__item
			.objects__top
				.objects__image
					+picture(image)
				.objects__text
					.objects__title 
						h5.c-grey= title
					.objects__description 
						p!= description
			.objects__bottom
				.objects__link
					+btnTicker('grey', link)
						|• Подробнее